.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* 100% de la largeur de la fenêtre */
}

.black-rectangle {
    width: 2000px; /* 40 cm en pixels */
    height: 3000px; /* 60 cm en pixels */
    background-color: black;
}

.orange-rectangle {
    position: absolute;
    width: 1950px;
    height: 2950px;
    background: linear-gradient(to top right, #C59833, #73581A); /* Dégradé linéaire de gauche à droite */
}

.competition {
    position: absolute;
    top: 75px; /* 1 cm en pixels (50 pixels avec 1 cm ≈ 50 pixels) */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Centrer horizontalement */
    color: rgb(0, 0, 0); /* Couleur du texte */
    font-size: 100px; /* Taille de la police */
}

.année {
    position: absolute;
    top: 200px; /* 1 cm en pixels (50 pixels avec 1 cm ≈ 50 pixels) */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Centrer horizontalement */
    color: rgb(0, 0, 0); /* Couleur du texte */
    font-size: 100px; /* Taille de la police */
}

.fond-prompt {
    position: absolute;
    width: 1794px;
    height: 1000px;
    bottom: 100px; 
    background: hsla(0, 0%, 71%, 0.8);
    border-radius: 20px; /* Bords arrondis de 20px */
    border: 1px solid black;
}

.prompt {
    position: absolute;
    top: 2183px; /* À 2183 pixels du haut du conteneur */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Centrer horizontalement */
    width: 1700px; /* Largeur de la zone de texte */
    height: 686px; /* Hauteur de la zone de texte */
    color: black; /* Couleur du texte */
    font-size: 80px; /* Taille de la police */
    text-align: center; /* Centrer le texte horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px; /* Hauteur de ligne de 100 */
}

.image {
    position: absolute;
    top: 355.5px; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%); /* Centrer horizontalement */
    width: 1800px;
    height: 1800px;
    max-width: 100%;
    max-height: 100%;
}